* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-section {
    background-image: url('./assets/Images/DMK_Hero_Img.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.first-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.cst-center-section {
    position: relative;
    z-index: 3;
}


.cst-header {
    background-color: rgba(0, 0, 0, 0.1);
}

.Raining {
    font-size: 4.125rem;
}

.discount {
    font-size: 1.62rem;
}

.cst-padding {
    padding-block: 9.5rem;
}

.cst-padding-two {
    padding-block: 4rem;
}

.shop-now-btn {
    padding: 10px 20px;
    border: none;
    font-weight: 600;
}

.find-more-btn {
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
    font-weight: 600;
    background: none;
}


/*Swiper.js CSS Code Start Here*/


.swiper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    max-width: 120px;
    max-height: 60px;
    object-fit: contain;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.swiper-slide img:hover {
    opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
    color: #ccc;
    transition: color 0.3s;
}


.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #000;
}

/*Swiper.js CSS Code End Here*/



/*Third Section CSS Start Here*/

.circle{
    height: 23px;
    width: 23px;
    border-radius: 50%;
}

.color-1{
    background-color: #1fb1c1;
}
.color-2{
    background-color: #81D742;
}
.color-3{
    background-color: #CE592F;
}


/*Third Section CSS End Here*/



/*Fifth Section CSS Start Here*/

.fifth-section{
    background-image: url('./assets/Images/banner-03.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.fifth-section::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 132, 214, 0.2);
}

.eight-inner-one{
    position: relative;
    z-index: 2;
    color: white;
}

/*Fifth Section CSS End Here*/



/*Contact First Section CSS Start Here*/

.contact-first-section{
    background-image: url('./assets/Images/Contact-banner.png');
    background-size: cover;
    background-position: center center;
    position: relative;
}

.contact-first-section::before{
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
    background-color: rgba(0, 132, 214, 0.2);
}

.contact-center-section{
    position: relative;
    z-index: 2;
}

.cst-padding-three{
    /* padding-block: 7rem; */
    padding-top: 5rem;
    padding-bottom: 9rem;
}

/*Contact First Section CSS End Here*/


/*Contact Form CSS Start Here*/

.send-msg{
    padding: 14px 28px;
    background-color: #0084D6;
    border: none;
    color: white;
    font-weight: 600;
}

/*Contact Form CSS End Here*/
